body {
    margin: 0;
    height: 100vh;
}

main {
    height: inherit;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    text-transform: none;
    color: inherit;
}

a:hover,
a:focus {
    color: rgb(165, 151, 151); 
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}

.center-self {
    align-self: center;
    justify-self: center;
}

.center-items {
    align-items: center;
    justify-items: center;
}

.center-content {
    align-content: center;
    justify-content: center;
}

.center-text {
    text-align: center;
}

.img-container {
    width: 32px;
    height: 32px;
    margin-right: 4px;
    overflow: hidden;
}

.small-img-container {
    width: 16px;
    height: 16px;
    margin-right: 2px;
    overflow: hidden;
}

.smaller-img-container {
    width: 12px;
    height: 12px;
    overflow: hidden;
}

.nav, .foot {
    background-color: rgb(68, 67, 67);
}

.fill-width {
    width: 100%;
}

.half {
    width: 50%;
}

.third {
    width: 33%;
}

.padded-small {
    padding: 2px;
}

.inherit-display {
    display: inherit;
}