.clickable {
    cursor:pointer;
}

table {
    border-spacing: 0;
}

td,th {
    padding: 5px 15px;
}

tr:not(.table-header):not(.new-element):hover,tr:not(.table-header):not(.new-element):focus, tr.selected {
    background-color: lightgrey;
}

.new-element {
    background-color: aliceblue;
}

.BEEG_TEXT {
    font-size: x-large;
    font-weight: bolder;
}